
.container {
    max-width: 850px;
    margin: auto;
    margin-top: 1rem;
}

.image {
    width: 100%;
    border-radius: 20px;
}

.tags{
    display: flex;
    gap: 0.5rem;
    margin: 2rem 0;
}

.details {
    margin: 2rem 0.5rem
}

.direction{
    margin-bottom: 1rem;
}

.directions_list{
  margin: 0.7rem 2rem;;
}