
.container {
    padding: 0.5rem;
    width: fit-content;
    border-radius: 20px;
}

.details {
    max-width: 200;
    text-wrap: wrap;
    height:55;
    display: -webkit-box;
  -webkit-box-orient: vertical;
  

  -webkit-line-clamp: 1; 
    line-height: 10px !important;
  overflow: hidden; 

}

.image {
    height: 200;
    width: 200;
    object-fit: cover;
    border-radius: 10px;    
}